# ignore semua
*

# izinkan folder config
!.gitignore
!hypr/
!hypr/**
!kitty/
!kitty/**
!btop/
!btop/**
!gtk-3.0/
!gtk-3.0/**
!gtk-4.0/
!gtk-4.0/**
#!obs-studio/
#!obs-studio/**
!mimeapps.list
!waybar/
!waybar/**
!wlogout/
!wlogout/**

# cara whitelist
#!nama-folder/
#!nama-folder/**
